.DS_Store

# goofy python json file that keeps updating
merlin-droplet-server/merlins-tower.org/public_html/json/python-hello-json-world.json

# json file gets updated with requests so..
/var/www/merlins-tower.org/public_html/db.json